<% include  partials/header %>

    <div class="ui container">
     
       <h1>This is HOME Page </h1>

       <!-- <button class="ui olive basic button"><a href="/register">Register</a></button><br>
       <button class="ui red basic button"><a href="/">Home Page</a></button><br>
       <button class="ui green basic button"><a href="/login">Login Here </a></button><br>
       <button class="ui animated button"><a href="/logout">Logout </a></button><br>  -->
    </div>
    

    <% include  partials/footer %>